{% extends 'base.html' %}
{% block content%}
<div class="container mt-4">
    <h2>Edit Income</h2>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'income_summary' %}">Incomes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Incomes</li>
        </ol>
    </nav>

    {% include 'partials/_message.html' %}
    <div class="card">
        <div class="card-body">
            <form action="{% url 'update_income' values.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="number" class="form-control form-control-sm" name="amount" value="{{values.amount}}">
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" name="description" value="{{values.description}}">
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select class="form-control" name="category">
                        <option selected name="category" value="{{values.category}}">{{values.category}}</option>
                        {% for category in income_category_name %}
                        <option name="category" value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date</label>
                    <input type="date" class="form-control form-control-sm" name="income_date" value="{{values.date |date:'Y-m-d'}}">
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="submit" value="Update" class="btn btn-primary btn-primary-sm">
                        </div>
                        <div class="col-md-9"></div>
                        <div class="col-md-1">
                            <a href="{% url 'delete_income' values.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}